* {
  font-family: "MesloLGl Nerd Font", monospace;
  font-size: 16px;
  background: #1e1e2e;
  color: #cdd6f4;
}

#clock {
  color: #89b4fa;
}

#pulseaudio {
  color: #f38ba8;
}

#battery {
  color: #a6e3a1;
}

#custom-bluetooth {
  color: #94e2d5;
}

#custom-logout {
  color: #f9e2af;
}

#workspaces {
  margin: 0 8px;
}

#workspaces button {
  padding: 4px 8px;
  margin: 0 4px;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #cdd6f4;
}

#workspaces button.focused {
  background: #89b4fa;
  color: #1e1e2e;
}

#workspaces button:hover {
  background: #585b70;
}
#pulseaudio,
#battery,
#clock,
#custom-logout,
#custom-bluetooth,
#tray {
  padding: 0 6px;
  margin: 0 4px;
  min-width: 20px;
  min-height: 20px;
  background: transparent;
  border: none;
  color: #a6e3a1;
}
#custom-firefox,
#custom-kitty,
#custom-chatGPT,
#custom-nvim {
  padding: 0 8px;
  font-size: 16px;
  color: #89b4fa;
}

#custom-firefox:hover,
#custom-chatGPT:hover,
#custom-kitty:hover,
#custom-nvim:hover {
  color: #cba6f7;
}

#custom-bluetooth.off {
  color: #f38ba8; /* rojo o rosado si apagado */
}

#custom-bluetooth.on {
  color: #89b4fa; /* azul si encendido pero sin conexión */
}

#custom-bluetooth.connected {
  color: #a6e3a1; /* verde si hay algún dispositivo conectado */
}

#custom-network.connected {
  color: #a6e3a1; /* verde suave cuando está conectado */
}

#custom-network.disconnected {
  color: #f38ba8; /* rojo suave cuando no hay red */
}

#custom-network:hover {
  color: #89b4fa; /* azul al pasar el mouse */
}

#custom-logoutn:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover {
  color: #89b4fa; /* azul */
}
/* Módulo de actualizaciones */

#custom-updates {
  padding: 0 8px;
  font-size: 16px;
  transition: color 0.3s;
}

/* Cuando no hay actualizaciones → verde */
#custom-updates.clean {
  color: #a6e3a1;
}

/* Cuando hay actualizaciones → rojo */
#custom-updates.updates {
  color: #f38ba8;
  font-weight: bold;
}

/* Al pasar el mouse por encima → azul */
#custom-updates:hover {
  color: #89b4fa;
}

