
* {
  font-family: "MesloLGl Nerd Font", monospace;
  font-size: 18px;
}
window {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
}

#entry {
    padding: 5px;
}

#entry:selected {
    background-color: #89b4fa;
    color: #1e1e2e;
}

